name: Update about.md
on:
  push:
  workflow_dispatch:
jobs:
  parse:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          repository: Kagerou-Discord/Kagerou
      - name: Install hclq
        run: |
          curl -sSLo install.sh https://install.hclq.sh
          sh install.sh
      - name: Remove external references
        run: |
          sed -i "s/discord_category_channel./\"/g" text_ch.tf
          sed -i -e "s/\.id$/\"/g" text_ch.tf
          sed -i "s/local.server_id/0/g" text_ch.tf
      - run: |
          gh release download --repo Kagerou-Discord/text-ch-parser --pattern "*linux_amd64.zip"
          ls | grep text-ch-parser | xargs 7z e -oout
          ls out | grep text-ch-parser | xargs -I FILE mv FILE ./parser
          chmod +x parser
          ./parser -f text_ch.tf -w result.md
          cat result.md
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      # TODO: カテゴリをhuman readableに置き換える
