name: Update about.md
on:
  push:
  workflow_dispatch:
jobs:
  parse:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          repository: Kagerou-Discord/Kagerou
      - name: Install hclq
        run: |
          curl -sSLo install.sh https://install.hclq.sh
          sh install.sh
      - name: Remove external references
        run: |
          sed -i "s/discord_category_channel./\"/g" text_ch.tf
          sed -i -e "s/\.id$/\"/g" text_ch.tf
          sed -i "s/local.server_id/0/g" text_ch.tf
      - run: |
          gh release download --repo Kagerou-Discord/text-ch-parser --pattern "*linux_amd64.zip"
          ls | grep text-ch-parser | xargs 7z e -oout
          ls out | grep text-ch-parser | xargs -I FILE mv out/FILE ./parser
          chmod +x parser
          ./parser -f text_ch.tf -w channels.md
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/upload-artifact@v2
        with:
          name: chs
          path: channels.md
  commit:
    runs-on: ubuntu-latest
    needs:
      - parse
    steps:
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v2
        with:
          name: chs
      - name: Check updates
        id: updates
        run: |
          EXISTS=$(git status --short | wc -l)
          echo "::set-output name=exists::$EXISTS"
      - run: echo ${{ steps.updates.outputs.exists }}
      - uses: Lucky3028/git-as-gha@v1.0.0
      - name: Commit channels.md changes
        run: |
          git add channels.md
          git commit -m "docs(channels.md): Update channels list"
          git push origin "${GITHUB_REF#refs/heads/}"
        if: ${{ steps.updates.outputs.exists }} != 0
