name: Update about.md
on:
  push:
  workflow_dispatch:
jobs:
  parse:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          repository: Kagerou-Discord/Kagerou
      - name: Install hclq
        run: |
          curl -sSLo install.sh https://install.hclq.sh
          sh install.sh
      - name: Remove external references
        run: |
          sed -i "s/discord_category_channel./\"/g" text_ch.tf
          sed -i -e "s/\.id$/\"/g" text_ch.tf
          sed -i "s/local.server_id/0/g" text_ch.tf
      - run: |
          format_as_arr () {
            STR=$1
            STR=${STR#[}
            STR=${STR%]}
            STR=${STR//\"/}
            echo $STR | tr "," "\n"
          }

          A=$(cat text_ch.tf | hclq get 'resource.discord_text_channel.*.name')
          AA=($(format_as_arr $A))
          echo ${AA[@]}

          cat text_ch.tf | hclq get 'resource.discord_text_channel.*.name'
          cat text_ch.tf | hclq get 'resource.discord_text_channel.*.topic'
          cat text_ch.tf | hclq get 'resource.discord_text_channel.*.category'
      # - run: |
      #     NAMES=$(cat category.tf | hclq get 'resource.discord_category_channel.*.name')
      #     NAMES=${NAMES#[}
      #     NAMES=${NAMES%]}
      #     NAMES=${NAMES//\"/}
      #     IFS=',' read -r -a ARRAY <<< $NAMES
      #     echo ${ARRAY[@]}
      # TODO: カテゴリをhuman readableに置き換える
